.skills {
    color:#ddd;
    text-align:center;
    padding: 50px 80px;
    }

    .container {
        width: 80%;
        /* background-color: #ddd; */
        margin-left: auto;
        margin-right: auto;
      }
      
      .skill_container {
        color:#ddd;
        /* background-color:#8B8A51; */
        text-align:center;
        padding:50px 80px;
        text-align: justify;

      }
      
      .skills {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }


      .html {width: 90%; background-color: #3E6C2C;}
      .css {width: 80%; background-color: #CD998E;}
      .js {width: 65%; background-color: #C7D47C;}
      .react {width: 1%; background-color: #6A7177;}